
<form (submit)="onContactSubmit()">
<div class="form-group">
<label>First Name</label>
<input type="text" [(ngModel)]="first" name="first" class="form-control" placeholder="First">
</div>
<div class="form-group">
<label>Last Name</label>
<input type="text" [(ngModel)]="last" name="last" class="form-control" placeholder="Last">
</div>
<div class="form-group">
<label>Email</label>
<input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email">
</div>
<div class="form-group">
<label for="comment">Short Description:</label>
<textarea [(ngModel)]="message" name="message" class="form-control" rows="2" id="comment">
</textarea>
</div>
<input type="submit" class="btn btn-primary" value="Submit">
</form>
