<div *ngIf="projects">
<div *ngFor="let project of projects">
<div class="row">
<div id="myCarousel" class="carousel slide vertical">
<!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="https://s3.us-east-2.amazonaws.com/io.jasemarq.projects.images/wpuchem_homepage.png" width="600" height="400" class="img-responsive">
                    <div class="carousel-caption">
                    <h2>{{project.title}}</h2>
                    <h3>{{project.description}}</h3>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
</div>
</div>